body {
  background-color: #6b0f1a;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}
.app {
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-container {
  flex: 0.8;
}
.selected-player-container {
  flex: 0.2;
}
@media (max-width: 991px) {
  .card-container {
    flex: 0.7;
  }
  .selected-player-container {
    flex: 0.3;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .app {
    flex-direction: column-reverse;
  }
  .selected-player-container {
    margin-left: 15px;
  }
}
